@import "../../variables/variables.scss";

.button-back{
    margin-top: 1rem;
    display: flex;
    border: none;
    background-color: $color2;
    margin-left: 1rem;
    border-radius: 10px;
    padding: .7rem;
    height: 40px;
    align-items: center;
    font-size: 1.6rem;
    color: $color4;
    transition: 0.4s ease;
    &:hover{
        transform: scale(1.03);
        
    }
}