.buttonsCount{
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width:630px){
        flex-direction: column;
    }
    button {
        border: none;
        padding: .6rem;
        border-radius: 5px;
        margin: 8px;
    }
    .button{
        font-size: 1.4rem;
    }
    .button-add{

    }
}